<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.fx.dal.mysql.ordersinfo.OrdersInfoMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="getCrossBorderOrders"
            resultType="cn.iocoder.yudao.module.fx.dal.dataobject.ordersinfo.OrdersInfoDO">
        #         SELECT *
#         FROM fx_orders_info
#         where order_status = 5
#           and (supplier_id in
#                (select label from system_dict_data where dict_type = 'fx_business_entity' and color_type = 'info')
#             or
#                receive_supplier_id in
#                (select label from system_dict_data where dict_type = 'fx_business_entity' and color_type = 'info')
#             )
        WITH supplier_filter AS (SELECT label
                                 FROM system_dict_data
                                 WHERE dict_type = 'fx_business_entity'
                                   AND color_type = 'info')
        SELECT *
        FROM fx_orders_info
        WHERE order_status = 5
          AND (
            supplier_id IN (SELECT label FROM supplier_filter)
                OR receive_supplier_id IN (SELECT label FROM supplier_filter)
            )

    </select>
    <select id="checkSample" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM fx_orders_info a
                 LEFT JOIN (SELECT DISTINCT c.order_id
                            FROM fx_orders_detail c
                                     INNER JOIN fx_goods_archives d ON c.goods_id = d.ID
                                     INNER JOIN fx_sku_costprice b ON d.SKU_ID = b.sku_id AND b.TYPE = 0) sub
                           ON a.id = sub.order_id
        WHERE a.id = #{id}
          AND sub.order_id IS NULL;
    </select>
    <select id="checkBoxSize" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM fx_orders_info a
                 INNER JOIN (SELECT b.order_id
                             FROM fx_orders_detail b
                                      INNER JOIN fx_sk_boxsize c
                                                 ON b.sku_id = c.sku_id
                                                     AND b.count >= c.box_size
                             WHERE b.order_id = #{id}
                             GROUP BY b.order_id) sub ON a.id = sub.order_id
        WHERE a.id = #{id}
    </select>
    <select id="getAutoSendOrders"
            resultType="cn.iocoder.yudao.module.fx.dal.dataobject.ordersinfo.OrdersInfoDO">
        SELECT a.erp_order_number, a.id, a.order_id
        FROM fx_orders_info a
        WHERE a.order_status = 3
          AND a.warehouse IN ('11834410', '12169831', '11202095')
          AND a.is_to_erp = 1
          AND EXISTS (SELECT 1 FROM fx_jst_order_out b WHERE b.o_id = a.erp_order_number)
    </select>

    <update id="updateSaleMain">
        UPDATE fx_orders_info t
        SET t.order_type   = CASE
                                 WHEN LOCATE('一件代发单', t.remark) > 0 THEN 1
                                 WHEN LOCATE('客商代发单', t.remark) > 0 THEN 2
                                 WHEN LOCATE('销售退货单', t.remark) > 0 THEN 4
                                 WHEN LOCATE('爱库存', t.remark) > 0 OR LOCATE('快团团', t.remark) > 0 THEN 3
                                 ELSE 0 END,
            t.brand        = (SELECT b.brand
                              FROM fx_orders_detail a
                                       JOIN fx_goods_archives b ON a.sku_id = b.id
                              WHERE a.order_id = t.id
                              ORDER BY b.brand DESC
                              LIMIT 1),
            t.order_status = 10
        WHERE t.id = #{id}
    </update>
</mapper>